
        <table cellpadding="10px" class="text-left">
            <tr>
                <td colspan="3" class="text-center">
                    <% if user_signed_in? %> 
                        <p><%= link_to "Go to my Pokemons", mypokemons_path %></p>
                    <% end %>
                    <form action="/">
                        <input placeholder="Search Pokemon by Name" value="" name="name">
                        <input type="submit" value="Search">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Pokemon</td>
                <td>Name</td>
                <td></td>
            </tr>
            <% if @name.blank? %>
                <% @pokemons.each do |pokemon| %>
                    <tr>
                        <td>
                            <img src="<%= pokemon[:image] %>" alt="<%= pokemon[:name] %>">
                        </td>
                        <td>
                            <p><%= pokemon[:name].capitalize %></p>
                        </td>
                        <td>
                            <a href="/pokemon/show/<%= pokemon[:name].downcase %>">View</a> 
                            <% if user_signed_in? %> 
                                <form action="/mypokemons" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="wJwpX1bXuDYNgB0lODv25B8lWXi9F5yW8atkR_P1I3dSuTahkq9WDlBfGSTrmeql5ONib1FuyPdeJl6aaVckOg" autocomplete="off">

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_name">Name</label>
                                        <input type="text" name="mypokemon[name]" id="mypokemon_name" value="<%= pokemon[:name].downcase %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_nickname">Nickname</label>
                                        <input type="text" name="mypokemon[nickname]" id="mypokemon_nickname" value="<%= pokemon[:name].downcase %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_image">Image</label>
                                        <input type="text" name="mypokemon[image]" id="mypokemon_image" value="<%= pokemon[:image] %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_image">Image</label>
                                        <input type="text" name="mypokemon[image]" id="mypokemon_image" value="<%= pokemon[:image] %>">
                                    </div>
                                    
                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_email">Email</label>
                                        <input type="text" name="mypokemon[email]" id="mypokemon_email" value="<%= current_user.email %>">
                                    </div>

                                    <div>
                                        <input type="submit" name="commit" value="Add to favorites" data-disable-with="Create Mypokemon">
                                    </div>
                                </form>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="3" class="text-center">
                        <a href="/<%= (@page - 1) == 0 ? 1 : (@page - 1) %>">Prev</a> <a href="/<%= (@page + 1) %>">Next</a> 
                    </td>
                </tr>
            <% else %>
                <% if @message.blank? %>
                    <tr>
                        <td>
                            <img src="<%= @pokemons.sprites.front_default %>" alt="<%= @pokemons.name %>">
                        </td>
                        <td>
                            <p><%= @pokemons.name.capitalize %></p>
                        </td>
                        <td>
                            <a href="/pokemon/show/<%= @pokemons.name.downcase%>">View</a>
                            <% if user_signed_in? %> 
                                <form action="/mypokemons" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="wJwpX1bXuDYNgB0lODv25B8lWXi9F5yW8atkR_P1I3dSuTahkq9WDlBfGSTrmeql5ONib1FuyPdeJl6aaVckOg" autocomplete="off">

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_name">Name</label>
                                        <input type="text" name="mypokemon[name]" id="mypokemon_name" value="<%= @pokemons.name.downcase %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_nickname">Nickname</label>
                                        <input type="text" name="mypokemon[nickname]" id="mypokemon_nickname" value="<%= @pokemons.name.downcase %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_image">Image</label>
                                        <input type="text" name="mypokemon[image]" id="mypokemon_image" value="<%= @pokemons.sprites.front_default %>">
                                    </div>

                                    <div class="hidden">
                                        <label style="display: block" for="mypokemon_email">Email</label>
                                        <input type="text" name="mypokemon[email]" id="mypokemon_email" value="<%= current_user.email %>">
                                    </div>

                                    <div>
                                        <input type="submit" name="commit" value="Add to favorites" data-disable-with="Create Mypokemon">
                                    </div>
                                </form>
                            <% end %>
                        </td>
                    </tr>
                <% else %>
                    <tr>
                        <td colspan="3"> <%= @message %> </td>
                    </tr>
                <% end %>
            <% end %>
        </table>