
        <table cellpadding="10px" class="text-left">
            <tr>
                <td colspan="2" class="text-center">
                    <a href="/">Back</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <img src="<%= @pokemon.sprites.front_default %>" alt="<%= @pokemon.name %>">
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= @pokemon.name.capitalize %></td>
            </tr>
            <tr>
                <td>Height</td>
                <td><%= @pokemon.height %></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td><%= @pokemon.weight %></td>
            </tr>
            <tr>
                <td>Abilities</td>
                <td>
                    <% @pokemon.abilities.each do |ability| %>
                        <p><%= ability.ability.name.capitalize %></p>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Held Items</td>
                <td>
                    <% @pokemon.held_items.each do |held| %>
                        <p><%= held.item.name.capitalize %></p>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Moves</td>
                <td>
                    <ul>
                    <% @pokemon.moves.each do |move| %>
                        <li><%= move.move.name.capitalize %>,</li>
                    <% end %>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Stats</td>
                <td>
                    <% @pokemon.stats.each do |stat| %>
                        <p><%= stat.stat.name %>: <%= stat.base_stat %></p>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>Types</td>
                <td>
                    <% @pokemon.types.each do |type| %>
                        <p><%= type.type.name.capitalize %></p>
                    <% end %>
                </td>
            </tr>
        </table>