<%= form_with(model: mypokemon) do |form| %>
  <% if mypokemon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mypokemon.errors.count, "error") %> prohibited this mypokemon from being saved:</h2>

      <ul>
        <% mypokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :nickname, style: "display: block" %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div class="hidden">
      <label style="display: block" for="mypokemon_email">Email</label>
      <input type="text" name="mypokemon[email]" id="mypokemon_email" value="<%= current_user.email %>">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
