<div id="<%= dom_id mypokemon %>">
  <p class="text-center">
    <strong>Name:</strong>
    <%= mypokemon.name %>
  </p>

  <p class="text-center">
    <strong>Nickname:</strong>
    <%= mypokemon.nickname %>
  </p>

  <p class="text-center">
    <strong>Owner:</strong>
    <%= mypokemon.email %>
  </p>

  <p class="text-center">
    <img src="<%= mypokemon.image %>">
  </p>

</div>
