<h1>Editing mypokemon</h1>

<%= render "form", mypokemon: @mypokemon %>

<br>

<div>
  <%= link_to "Show this mypokemon", @mypokemon %> |
  <%= link_to "Back to mypokemons", mypokemons_path %>
</div>
