

<h1>My Pokemons</h1>

<div id="mypokemons">
  <% @mypokemons.each do |mypokemon| %>
    <%= render mypokemon %>
    <p>
      <%= link_to "Manage Pokemon", mypokemon %>
    </p>
  <% end %>
</div>

<%= link_to "Create Pokemon", new_mypokemon_path %>
<p><%= link_to "Pokemon List", '/' %></p>
