

<%= render @mypokemon %>

<div>
  <%= link_to "Edit this Pokemon", edit_mypokemon_path(@mypokemon) %> |
  <%= link_to "Back to my Pokemons", mypokemons_path %>

  <%= button_to "Delete this Pokemon", @mypokemon, method: :delete %>
</div>
