/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    width: 100%;
 }
 body>form {
    text-align: center;
 }
 table {
    margin: 0 auto;
    width: 60%;
 }
 table td, tr {
    border: thin solid #000;
 }
 .text-center {
    text-align: center;
 }
 .text-left {
    text-align: left;
 }
 ul {
    list-style: none;
    padding: 0;
 }
ul li {
    display: inline;
}
img {
    width: 250px;
}
.hidden {
    display: none;
}